<!DOCTYPE html>
<html>
  <head>
    <title>RubyChan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>




  <header class="p-5">
    <nav class="w-full bg-[#111827] p-6 rounded-md shadow-md ">
    <ul class="flex-row flex w-2/12 justify-between">
      <li class="mx-4">
        <a href="/">Home</a>
      </li>
      <li class="mx-4">
        About
      </li>
    </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
